<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#features" class="page-scroll">Specials</a></li>
          <li><a href="#about" class="page-scroll">About</a></li>
          <li><a href="#restaurant-menu" class="page-scroll">Menu</a></li>
          <li><a href="#team" class="page-scroll">Chef</a></li>
          <li><a href="#contact" class="page-scroll">Contact</a></li>
          <!-- <li><a href="#review" class="page-scroll">Review</a></li> -->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>
  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <img src="./assets/img/logo.png" alt="">
              <p>Order: (702) 347-7984</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Features Section -->
  <div id="features" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>Our Specials</h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">
            <h3>Dal-Bati-Churma</h3>
            <img src="./assets/img/specials/dal-bati.jpg" class="img-responsive" alt="">
            <p>Dal-Bati-Churma is a Traditional dish and very popular in Rajasthan.
               Murlibest served with the daal (lentils) and spicy garlic chutney.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">
            <h3>South Indian</h3>
            <img src="./assets/img/specials/idli.jpg" class="img-responsive" alt="">
            <p> Idle-Sambar is South Indian Dish and High in Protein and Healthy as well.
                Murlibest served Idle-Sambar with delicious Coconut chutney.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">
            <h3>Paneer Special</h3>
            <img src="./assets/img/specials/Paneer.jpg" class="img-responsive" alt="">
            <p> Paneer is North Indian dish have tomato based sauce, spiced with garam masala. It is often served with rice and an Indian bread.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Section -->
  <div id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 about-img"> </div>
        <div class="col-xs-12 col-md-3 col-md-offset-1">
          <div class="about-text">
            <div class="section-title">
              <h2>Our Story</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Restaurant Menu Section -->
  <div id="restaurant-menu">
    <div class="container">
      <div class="section-title text-center">
        <h2>Menu</h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title">Breakfast & Starters</h2>
            <div class="menu-item">
              <div class="menu-item-name">Tortellini Skewers</div>
              <div class="menu-item-price"> $9 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Fried Ravioli</div>
              <div class="menu-item-price"> $7 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Wild Mushroom Arancini</div>
              <div class="menu-item-price"> $9 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Mozzarella Sticks</div>
              <div class="menu-item-price"> $10 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title">Main Course</h2>
            <div class="menu-item">
              <div class="menu-item-name">Roast Stuffed Chicken</div>
              <div class="menu-item-price"> $18 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Chicken & Mushroom Pasta</div>
              <div class="menu-item-price"> $20 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Beef Lasagne</div>
              <div class="menu-item-price"> $14 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Chicken Goujons</div>
              <div class="menu-item-price"> $19 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title">Dinner</h2>
            <div class="menu-item">
              <div class="menu-item-name">Sesame-Ginger Beef</div>
              <div class="menu-item-price"> $15 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Crispy Fried Chicken</div>
              <div class="menu-item-price"> $17 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Mongolian Shrimp & Broccoli</div>
              <div class="menu-item-price"> $18 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Spicy Coconut Salmon</div>
              <div class="menu-item-price"> $20 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title">Desserts</h2>
            <div class="menu-item">
              <div class="menu-item-name">Chocolate Mud Cake</div>
              <div class="menu-item-price"> $11 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Bourbon-Pecan Tart</div>
              <div class="menu-item-price"> $14 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Texas Sheet Cake</div>
              <div class="menu-item-price"> $15 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Vanilla Cheesecake</div>
              <div class="menu-item-price"> $18 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gallery Section -->
  <div id="gallery">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="gallery-item"> <img src="./assets/img/gallery/01.jpg" class="img-responsive" alt=""></div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="gallery-item"> <img src="./assets/img/gallery/02.jpg" class="img-responsive" alt=""></div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="gallery-item"> <img src="./assets/img/gallery/03.jpg" class="img-responsive" alt=""></div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="gallery-item"> <img src="./assets/img/gallery/04.jpg" class="img-responsive" alt=""></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Section -->
  <div id="team">
    <div class="container">
      <div id="row">
        <div class="col-md-6">
          <div class="col-md-10 col-md-offset-1">
            <div class="section-title">
              <h2>Meet Our Chef</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-img"><img src="./assets/img/chef.jpg" alt="..."></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Section -->
  <div id="contact" class="text-center">
    <div class="container text-center">
      <div class="col-md-4">
        <h3>Order</h3>
        <div class="contact-item">
          <p>Please call</p>
          <p>(702) 347-7984</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Address</h3>
        <div class="contact-item">
          <p>79 Sindhi Colony,</p>
          <p>Durgapura, Jaipur, Rajasthan 302018</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Opening Hours</h3>
        <div class="contact-item">
          <p>Mon-Thurs: 09:00 AM - 10:00 PM</p>
          <p>Fri-Sun: 10:00 AM - 11:00 PM</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="section-title text-center">
        <h3>Send us a message</h3>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
        </form>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container text-center">
      <div class="col-md-6">
        <p>&copy; 2019 murli tiffin center. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <div class="social">
          <ul>
            <li><a href="https://www.facebook.com/Murlibest/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.facebook.com/Murlibest/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/Murlibest/"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
