  <!-- Main Head -->

  <div class="wrapper">
    <div class="container">
      <div class="top-head d-flex justify-content-between align-items-center">
        <div class="left-top-head d-flex align-items-center">

          <div class="shopping-bag">
            <div class="contact-no">
              <img src="../assets/images/call-answer.png">
              +91 7023477984
            </div>
            <a href="#"><i class="fas fa-question-circle faq-icon mr-10"></i>FAQs</a>
          </div>
        </div>
        <div class="logo"> <img src="../assets/images/logo-final.png" class="img-responsive"> </div>
        <div class="right-top-head">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-pinterest-p"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="bottom-head d-flex justify-content-between align-items-center mb-40">
        <div class="search-box">
          <button class="btn" type="button">LOGIN</button>
          <button class="btn" type="button">SIGN UP</button>
        </div>
        <div class="main-menu d-flex align-items-center">
          <ul class="d-flex">
            <li class="mr-20"><a href="#">home</a></li>
            <li class="mr-20"><a href="#">Meal Plans</a></li>
            <li class="mr-20"><a href="#">Why Murli</a></li>
            <li class="mr-20"><a href="#">Reviews</a></li>
            <li class="mr-20"><a href="#">Support </a></li>
          </ul>
          <button class="btn" type="button">Order Now</button>
        </div>

      </div>
    </div>
  </div>

  <!-- End Main Head -->
  <!-- Coursel -->
  <div id="owl-demo" class="owl-carousel owl-theme">
    <!-- <div class="item">
      <img src="../assets/images/slider/slider1.1.jpg">
    </div> -->
    <div class="item">
      <img src="../assets/images/slider/slider2.1.jpg">
    </div>
    <div class="item">
      <img src="../assets/images/slider/slider3.1.jpg">
    </div>
  </div>


  <!-- End Coursel -->
  <!-- Plan Section -->

  <div class="meal-section">
    <div class="page-heading">
      <h1 class="">Our <span>Meal</span> </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="regular-thali-img">
            <img src="../assets/images/regular-thali.jpg">
          </div>
          <div class="regular-thali-content">
            <div class="head-meal">
              <h5><a href="#"> Meals Include <br> ( Monday - Thursday )</a></h5>
            </div>
            <p>1 veg dish <br>
              1 dal <br>
              5 chapati <br>
              1 rice <br>
              1 raita/ salad/Dessert</p>

          </div>
        </div>
        <div class="col-md-3">
          <div class="regular-thali-img">
            <img src="../assets/images/special-thali.jpg">
          </div>
          <div class="regular-thali-content">
            <div class="head-meal">
              <h5><a href="#">Special Meal Plan <br> ( Friday )</a></h5>
            </div>
            <p>1 veg paneer dish<br>
              1 dal <br>
              5 chapati <br>
              1 rice <br>
              1 raita/ salad/Dessert</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="regular-thali-img">
            <img src="../assets/images/Paneer-thali.jpg">
          </div>
          <div class="regular-thali-content">
            <div class="head-meal">
              <h5><a href="#">Rajasthani Special <br> ( Saturday )</a></h5>
            </div>
            <p>dal bati<br>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="regular-thali-img">
            <img src="../assets/images/dal-bati-thali.jpg">
          </div>
          <div class="regular-thali-content">
            <div class="head-meal">
              <h5><a href="#">South Indian <br>( Sunday )</a></h5>
            </div>
            <p>idli sambhar and narial chatni<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Plan Section -->
  <!-- Monthly Plan Section -->

  <div class="monthly-plan">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-heading">
            <h1 class="">Try Our <span>Monthly</span> Pack </h1>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <p> Lunch OR Dinner <br> <span class="color-green"><i class="fas fa-rupee-sign"></i> 1800 Only</span></p>
        </div>
        <div class="col-md-4 text-center">
          <p> Lunch & Dinner<br> <span class="color-green"><i class="fas fa-rupee-sign"></i> 3500 Only</span></p>
        </div>
        <div class="col-md-4 text-center">
          <p> Single Meal<br> <span class="color-green"><i class="fas fa-rupee-sign"></i> 60 Only</span></p>
        </div>
      </div>
    </div>
  </div>

  <!-- End Monthly Plan Section -->
  <!-- Why Murli Section -->

  <div class="why-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-heading">
            <h1 class="">Why <span>Murli Best</span> Tiffin</h1>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex ">
            <div class="mb-icon">
              <img src="../assets/images/basket.png" class="mr-20">
            </div>
            <div class="mb-detail">
              <h4 class="">Fresh & Hygienic</h4>
              <p>Enjoy your fresh & Hygienic food of Murli Best Tiffin</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex ">
            <div class="mb-icon">
              <img src="../assets/images/alarm-clock.png" class="mr-20">
            </div>
            <div class="mb-detail">
              <h4 class="">Short Trial</h4>
              <p>Enjoy short weekly plans of Murli Best Tiffin</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex ">
            <div class="mb-icon">
              <img src="../assets/images/vegetables.png" class="mr-20">
            </div>
            <div class="mb-detail">
              <h4 class="">Amazing Veriety</h4>
              <p>Enjoy your fresh & Hygienic food of Murli Best Tiffin</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex ">
            <div class="mb-icon">
              <img src="../assets/images/cart.png" class="mr-20">
            </div>
            <div class="mb-detail">
              <h4 class="">Easy Ordering</h4>
              <p>Enjoy short weekly plans of Murli Best Tiffin</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Why Murli Section -->
  <!-- Support Section -->

  <div class="monthly-plan support">
    <div class="row">
      <div class="col-md-12">
        <div class="page-heading">
          <h1 class="">Our <span>Support</span></h1>
        </div>
        <div class="d-flex justify-content-center">
          <div class="mail mr-30"> <i class="far fa-envelope"></i> shivkr5151@gmail.com </div>
          <div class="contact-no">
            <img src="../assets/images/call-answer.png">+91 7023477984
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Support Section -->
  <!-- Footer -->

  <div class="footer d-flex flex-column justify-content-center text-center">
    <div class="logo mb-50">
      <img src="../assets/images/logo-final.png">
    </div>
    <div class="footer-content">
      Tiffin Center <span class=" mr-20 ml-20"> | </span>79, sindhi colony , Durgapura , Jaipur, Rajasthan 302018 <span
        class=" mr-20 ml-20"> | </span>+91 7023477984
    </div>
    <div class="copyright mt-30">
      Copyright © 2019, Murli Best Food Service
    </div>
  </div>

  <!-- End Footer -->
